* {
  margin: 0 auto;
  padding: 0;
}
.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
}
body {
  background-color: aqua;
}
h1 {
}
button {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  border: 1pt solid black;
  border-radius: 20px;
  color: black;
}
